* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
}

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.tag {
  display: flex;
  padding: 10px 100px;
  flex-direction: row;
  background-color: #fff;
  box-shadow:  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tag .text {
  display: flex;
  flex-direction: row;
}

.tag h1 {
  cursor: context-menu;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show .bg {
  position: relative;
}

.show h1 {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-weight: 600;
  overflow-wrap: break-word;
  text-align: center;
}

.show button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 24px;
  font-size: 14px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 50px;
}


