* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

.registration-box {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0e382c;
    height: 640px;
}

.tag a {
    font-size: 14px;
    font-weight: 400;
}

.tag h1 {
    cursor: context-menu;
}

.registration-show {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 6rem 0;
    top: 100px;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration .title {
    display: flex;
    width: 100%;
    margin: 0px 300px 8px;
    justify-content: center;
}

.registration .title h1 {
    width: 1320px;
    line-height: 32px;
    color: #1e3932;
    font-size: 1.25rem;
    padding: 0 24px;
    font-weight: bold;
}

.registration hr {
    width: 100%;
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.registration .c1, .registration .c2 {
    display: flex;
    flex: 0 0 auto;
    width: 1200px;
    padding-bottom: 1em;
}

.email, .mnumber, .rpassword, .crpassword {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
    border-bottom: #3333338e solid 1px;
    margin-right: 3rem;
}

.registration label {
    color: #000000de;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.registration input {
    width: 100%;
    font-size: 10px;
    padding: .4375em 0;
}

.registration-submit {
    display: flex;
    justify-content: center;
    padding-top: 78px;
}

.registration-submit button {
    width: 330px;
    height: 40px;
    font-size: 12px;
    color: #c7c7c7;
    background-color: #000000a8;
    opacity: .6;
    border-radius: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}